/* Footer Styles */
.site-footer {
    background: linear-gradient(to right, #d4ed91, #0090af);
    color: white;
    padding: 1px 0;
    font-family: Arial, sans-serif;
    text-align: start;
    flex-direction: row;
}

.site-footer .footer-widget-area {
    margin-bottom: 0px;
}

.site-footer .footer-widget-area .footer-bar-navigation {
    margin-bottom: 10px;
}

.site-footer .footer-widget-area .footer-bar-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
    align-content: center;
}

.site-footer .footer-widget-area .footer-bar-navigation ul li {
    margin: 0 15px;
}

.site-footer .footer-widget-area .footer-bar-navigation ul li a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.site-footer .footer-widget-area .footer-bar-navigation ul li a:hover {
    color: #12ddf3;
}

.site-footer .ast-footer-copyright {
    margin-top: 10px;
    font-size: 12px;
}

.site-footer .ast-footer-copyright p {
    margin: 0;
}

.site-footer .ast-footer-copyright p a {
    color: linear-gradient(to right, rgb(0, 0, 0), #0090af);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: start;
    margin: 0;
;
}

.site-footer .ast-footer-copyright p a:hover {
    color: #f39c12;
}

.site-footer .footer-widget-area .footer-bar-navigation ul li.menu-item {
    display: inline-block;
    margin-right: 10px;
}

.site-footer .footer-widget-area .footer-bar-navigation ul li.menu-item-1183 a {
    font-weight: bold;
    color: #d4ed91 !important;  /*where you are rn*/
}

.site-footer .footer-widget-area .footer-bar-navigation ul li.menu-item a {
    color: greenyellow; /*button color defgault*/
}

.site-footer .footer-widget-area .footer-bar-navigation ul li.menu-item a:hover {
    color: white; /*highlight button*/
}

.footer-bottom {
    background-color: #222;
    color: #bbb;
    padding: 10px 0;
    font-size: 12px;
}

.footer-bottom p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .site-footer .footer-widget-area .footer-bar-navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .site-footer .footer-widget-area .footer-bar-navigation ul li {
        margin: 10px 0;
    }
}
.site-footer-above-section-1 {
    margin-left: 30px;
}